/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    text-align: center;
    font-family: helvetica, arial, sans-serif;
    font-size: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.seleted {
    font-weight: bold;
}

.container {
    margin: auto;
    width: 1000px;
}

#nav {
    background:#6595c1;

    margin: 0px;
    font-family: georgia, serif;
    padding-top: 35px;
}

#nav:after{ 
    background:#e02a2d;
    display:block;
    content:' ';
    height:15px;
    width:100%;
}

#nav li {
    margin: 0px;
    font-family: georgia, serif;
    font-weight: bold;
    display: inline;
    padding:25px;
}

#nav a {
    margin: 0px;
    font-family: georgia, serif;
    font-weight: bold;
    display: inline;
    color: #0e0e0e;
    padding: 0 1em;
}

#header {
    
}



#banner {
    height: 280px;
    background-color: #f9ce2a;
    text-indent: -9999px;
    width: 100%;
}

#banner h1 {
    height: 280px;
    background: url(../images/sinag-logo.png) no-repeat;
    background-position: center;
    margin: 0em;
}

#main {
    height: 300px;
    color: #eeeeee;
    background-color: #efefef;
    margin: 1em;
}

#footer {
    width: 100%;
    background-color: #f9ce2a;
    padding-bottom: 1em;
    height: 200px;
}

#footer div {
    float: left;
    width: 30%;
    height: 80%;
}

#footer a, p {
    color: #7b796b;
    text-align: left;
}

#secondary-menu {
    text-align: left;
}

#secondary-menu ul {
    padding-top: .8em;
    text-align: left;
}

#secondary-menu li {
    font-weight: bold;
    text-align: left;
    font-size: 17px;
    margin: .9em;
}

#be-a-student {
    padding-left: 1em;
    font-size: 20px;
    font-weight: bold;
}

#contact-us {
    padding-top: 3em;
    padding-left: 1.5em;
    font-weight: bold;
    font-size: 15px;
}

#contact-us a {
    font-size: 15px;
}

.drop-shadow {
    -webkit-box-shadow: -2px 10px 10px 5px #dfdfdf;
    -moz-box-shadow: -2px 10px 10px 5px #dfdfdf;
    box-shadow: -2px 10px 10px 5px #dfdfdf;
}

.vertical-line {
    border-right: 1px solid #7b796b;
    margin-top: 1em;
}

