.main-nav {
    /* background: #6595c1; */
    background: url(../images/main-nav-bg.png);
    font-family: monospace;
    font-weight: bold;
    font-size: large;
    height: 69px;
}


.main-nav>li>a:hover {
    color: white;
    background: transparent;
    padding-left: 0px !important;
    padding-top: 20px !important;
    border: 0px;
}

.container {
    max-width: none !important;
    width: 1000px;
}


.main-nav>li>a {
    position: relative;
    padding: 36px 0px 13px 0px;
}


a {
    color: #505050;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


ol, ul {
    list-style: none;
}

.banner {
    position: relative;
    height: 280px;
    background-color: #f9ce2a;
    text-indent: -9999px;
    z-index: 100;
}

.banner h1 {
    height: 280px;
    background: url(../images/sinag-logo.png) no-repeat;
    background-position: center;
    margin: 0em;
}

.drop-shadow {
    -webkit-box-shadow: -2px 10px 10px 5px #dfdfdf;
    -moz-box-shadow: -2px 10px 10px 5px #dfdfdf;
    box-shadow: -2px 10px 10px 5px #dfdfdf;
    z-index: 10;
}

.vertical-line {
    border-right: 1px solid #7b796b;
    margin-top: 1em;
}

#main {
    background: #ffffff;
    z-index: -100;
    height: 700px;
}

#footer {
    color: #7b796b;
    background-color: #f9ce2a;
    padding-bottom: 1em;
}

#footer>a{
    color: #7b796b;
}

#footer>div{
    height: 80px;
}

.nav-tabs.nav-justified>li>a {
    border-bottom: 0px solid #ddd;
    border-radius: 4px 4px 0 0;
}

#be-a-student {
    font-size: 12px;
    font-weight: bold;
}

#secondary-menu a {
    font-weight: bold;
    text-align: left;
    font-size: 12px;
    margin: .9em;
    padding-bottom: 1em;
    margin-left: 2em;
    color: #7b796b;
}

#contact-us {
    padding-top: 2em;
    padding-left: 1.5em;
    font-weight: bold;
    font-size: 10px;
}

#contact-us a {
    font-size: 10px;
    color: #7b796b;
}

.vcenter {
    display: inline !important;
    vertical-align: middle;
}


#our-story {
    background: url(../images/story-tab.png) no-repeat;
    /* position: absolute; */
    /* top: -100px; */
    background-position: 0px -73px;
    left: 670px;
    height: 60px;
    z-index: 10;
    margin: 0;
    padding: 0;
    text-align: -webkit-center;
    vertical-align: text-bottom;
}

#our-story>span {
    text-align: center;
    color: #000000;
    font-weight: bold;
    position: absolute;
    font-size: 18px;
    font-family: monospace;
    /* padding: 30px 0px 0px 0px; */
    margin: 30px 0px 0px -100px;
}


#bulb-halo {
    background: url(../images/lightbulb-halo.png);
    height: 819px;
    width: 574px;
    position: absolute;
    left: 889px;
    top: 144px;
    z-index: 5;
}

#bulb {
    position: absolute;
    width: 135px;
    top: -30px;
    left: -37px;
    z-index: 11;
}

.floatBackground {
    z-index: 7;
}

#fund-dreams {
    z-index: 7;
}

#fund-dreams>a {
    color: #6595c1;
    font-style: italic;
}

.popover, .popover h3.title, .popover .content { font-size: 14px; }

.popover-content {
    color: red;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    width: 300px;
    box-sizing: initial;
    border: 0px;
}
